#Contactform {
  padding: 10px 90px 50px 100px;
}
#Contactform label {
  color: white;
  padding-bottom: 10px;
}

.formInputBox {
  padding-left: 60px;
  margin: 8px 0;
  border: dashed;
  box-sizing: border-box;
}

#contactId {
  padding-left: 550px;
}
